In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [7]:
data = yf.download('AAPL', start='2023-1-1')['Adj Close']
data

[*********************100%***********************]  1 of 1 completed

Date
2023-01-03    124.706833
2023-01-04    125.993095
2023-01-05    124.656982
2023-01-06    129.243622
2023-01-09    129.772079
                 ...
2023-06-21    183.960007
2023-06-22    187.000000
2023-06-23    186.679993
2023-06-26    185.270004
2023-06-27    188.059998
Name: Adj Close, Length: 121, dtype: float64

In [8]:
returns = pd.DataFrame(data.pct_change())
returns

            Adj Close
Date
2023-01-03        NaN
2023-01-04   0.010314
2023-01-05  -0.010605
2023-01-06   0.036794
2023-01-09   0.004089
...               ...
2023-06-21  -0.005675
2023-06-22   0.016525
2023-06-23  -0.001711
2023-06-26  -0.007553
2023-06-27   0.015059

[121 rows x 1 columns]

In [9]:
neg_returns = returns.loc[returns['Adj Close'] < 0]
neg_returns

            Adj Close
Date
2023-01-05  -0.010605
2023-01-12  -0.000599
2023-01-18  -0.005370
2023-01-25  -0.004701
2023-01-30  -0.020078
2023-02-06  -0.017929
2023-02-08  -0.017653
2023-02-09  -0.006912
2023-02-14  -0.004225
2023-02-16  -0.010429
2023-02-17  -0.007547
2023-02-21  -0.026680
2023-02-24  -0.018005
2023-02-28  -0.003448
2023-03-01  -0.014246
2023-03-07  -0.014496
2023-03-09  -0.014915
2023-03-10  -0.013879
2023-03-17  -0.005454
2023-03-22  -0.009103
2023-03-27  -0.012293
2023-03-28  -0.003980
2023-04-04  -0.003250
2023-04-05  -0.011290
2023-04-10  -0.015972
2023-04-11  -0.007591
2023-04-12  -0.004353
2023-04-14  -0.002114
2023-04-20  -0.005846
2023-04-21  -0.009781
2023-04-25  -0.009436
2023-04-26  -0.000061
2023-05-01  -0.000530
2023-05-02  -0.006191
2023-05-03  -0.006467
2023-05-04  -0.009913
2023-05-08  -0.000403
2023-05-09  -0.009971
2023-05-12  -0.005418
2023-05-15  -0.002897
2023-05-22  -0.005481
2023-05-23  -0.015155
2023-05-31  -0.000282
2023-06-05  -0.007571
2023-06-06  -0.002060
2023-06-07  -0.007756
2023-06-13  -0.002612
2023-06-16  -0.005860
2023-06-21  -0.005675
2023-06-23  -0.001711
2023-06-26  -0.007553

In [10]:
Sortino = (returns.mean()/neg_returns.std())*np.sqrt(252)
Sortino

Adj Close    9.505072
dtype: float64

In [11]:
Sharpe = (returns.mean()/returns.std())*np.sqrt(252)
Sharpe

Adj Close    4.256562
dtype: float64